body {background-color: #b0efeb;}
hr {
  border-style: dotted none none none;
  border-color: #222831;
  border-width: 4px;
  width: 6%;
}
h1 {background-color: #caf7e3; color: #126e82}
h3 {background-color: #aee1e1; color: #00adb5}
h2{color: #00adb5}
